*, 
*:before, 
*:after{
	padding: 0;
	box-sizing: border-box;
	margin: 0;
}

img{
	height: auto;
	max-width: 100%;
}

figure {
	position: relative;
}

a,
a:link,
a:visited,
a:hover,
a:active{
	color: #FFF;
	text-decoration: none;
	outline: none;
}

.grey-block a,
.grey-block a:link,
.grey-block a:visited,
.grey-block a:hover,
.grey-block a:active{
	color: #191919;
}

.red-block a, 
.red-block a:link,
.red-block a:visited,
.red-block a:hover,
.red-block a:active{
	color: #EE4240;
}

figure img, 
figure video, 
figure object, 
figure embed {
	display:block;
	max-width: 100%;
}

.left{
	float: left;
}

.right{
	float: right;
}

.clear:before,
.clear:after,
.container:before,
.container:after,
.wrapper:before,
.wrapper:after {
    content: " ";
    display: table;
}
 
.clear:after,
.container:after,
.wrapper:after
 {
    clear: both;
}
 
/* IE6/7 support */
.clear,
.container,
.wrapper {
    *zoom: 1;
}

.hidded{
	visibility: hidden;
}

.fadeInUp,
.fadeOutUp,
.fadeInDown,
.fadeOutDown,
.fadeInLeft,
.fadeInRight,
.fadeOutLeft,
.fadeOutRight {
	visibility: visible;
}

.delay-05s{
	-webkit-animation-delay: .5s;
	animation-delay: .5s;
}

.delay-1s{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
}

@font-face{
	font-family: OpenSansRegular;
	src: url("../fonts/OpenSansRegular.eot");
	src: url("../fonts/OpenSansRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansRegular.woff") format("woff"), url("../fonts/OpenSansRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "OpenSansBold";
	src: url("../fonts/OpenSansBold.eot");
	src: url("../fonts/OpenSansBold.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansBold.woff") format("woff"), url("../fonts/OpenSansBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "OpenSansLight";
	src: url("../fonts/OpenSansLight.eot");
	src: url("../fonts/OpenSansLight.eot?#iefix")format("embedded-opentype"), url("../fonts/OpenSansLight.woff") format("woff"), url("../fonts/OpenSansLight.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "RobotoBold";
	src: url("../fonts/RobotoBold.eot");
	src: url("../fonts/RobotoBold.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "RobotoRegular";
	src: url("../fonts/RobotoRegular.eot");
	src: url("../fonts/RobotoRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "RobotoThin";
	src: url("../fonts/RobotoThin.eot");
	src: url("../fonts/RobotoThin.eot?#iefix")format("embedded-opentype"), url("../fonts/RobotoThin.woff") format("woff"), url("../fonts/RobotoThin.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "KlavikaBold";
	src: url("../fonts/KlavikaBold.eot");
	src: url("../fonts/KlavikaBold.eot?#iefix")format("embedded-opentype"), url("../fonts/KlavikaBold.woff") format("woff"), url("../fonts/KlavikaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face{
	font-family: "Pico";
	src: url("../fonts/Pico.eot");
	src: url("../fonts/Pico.eot?#iefix")format("embedded-opentype"), url("../fonts/Pico.woff") format("woff"), url("../fonts/Pico.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body{
	font: 100%/1.5em "RobotoThin", Arial, Helvetica, sans-serif;
	letter-spacing: .05em;
}

.for-overflow{
	overflow-x: hidden;
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

	#social-modal{
		position: fixed;
		z-index: 100500;
		opacity: 0;
		transition:.5s;
		transition-delay:3s;
		height:100%;
		right: 0;
		left:0;
		border-radius: 0;
		border:none;
		margin:0;
		padding:0;
	}
	.social-modal-win{
		width: 790px;
		line-height: 250px;
		vertical-align: middle;
		height: auto;
		margin: 0px auto 0;
		background: #fff;
		position: absolute;;
		padding: 10px 0 0;
		right: 0;
		left: 0;
		bottom: 0;
	}
	.shadow.active + .container #social-modal{
		opacity: 1;
	}
	#twitter-widget-0{
		width: 353px !important;
		vertical-align: middle;
	}
	.alert-success {
	    color: #000000;
	    background-color: rgba(0,0,0,0.75);
	}
	.IN-widget{
		line-height: 270px !important;
		height: 245px;
		vertical-align: middle !important;
		margin: 2.5px 7px;
	}
	.close {
	    float: none;
	    font-size: 25px;
	    font-weight: 700;
	    line-height: 23px;
	    color: #000;
	    text-shadow: none;
	    filter: alpha(opacity=75);
	    position: absolute;
	    right: 0px;
	    top: 10px;
	    display: block;
	    width: 30px;
	    height: 30px;
	    background-color: #F30202;
	    opacity: 0.85;
	    text-align: center;
	    vertical-align: middle;
	    z-index: 100500;
	}
	.close:focus, .close:hover {
	    color: #000;
	    text-decoration: none;
	    cursor: pointer;
	    filter: alpha(opacity=100);
	    opacity: 1;
	    background-color: red;
	}
	.social-modal-names{
		background-color: red;
		margin-bottom: 10px;
		height: 50px;
		line-height: 47px;
	}
	.social-modal-widgets .col-lg-4{
		padding: 0 10px;
		text-align: center;
	}
	.social-modal-fb{
	    font-family: "KlavikaBold";
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    background: #fff;
	    text-align: center;
	    display: inline-block;
	    color:red;
	    margin-right: 15px;
	    margin-left: 20px;
	    font-size: 25px;
	    vertical-align: middle;;
	}
	.social-modal-fb-descr{
		font-family: "KlavikaBold";
		color: #fff;
		display: inline-block;
		font-size: 20px;
		vertical-align: bottom;
	}
	.social-modal-tw{
	    font-family: "Pico";
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    background: #fff;
	    text-align: center;
	    display: inline-block;
	    color:red;
	    margin-right: 15px;
	    margin-left: 20px;
	    font-size: 25px;
	    vertical-align: middle;
	}
	.social-modal-tw-descr{
	    font-family: "Pico";
	    color: #fff;
	    display: inline-block;
	    font-size: 20px;
	    vertical-align: bottom;
	}
	.social-modal-in{
	    font-family: "RobotoBold";
	    width: 30px;
	    height: 30px;
	    line-height: 30px;
	    background: #fff;
	    text-align: center;
	    display: inline-block;
	    color:red;
	    margin-right: 15px;
	    margin-left: 20px;
	    font-size: 25px;
	    vertical-align: middle;
	}
	.social-modal-in-descr{
	    font-family: "RobotoBold";
	    color: #fff;
	    display: inline-block;
	    font-size: 20px;
	    vertical-align: bottom;
	}
	.social-modal-footer{
		background: black;
		margin-top: 50px;
		height: 50px;
		line-height: 47px;
	}
	.social-modal-footer img{
		position: absolute;
		top:-30px;
		width: 80px;
	}
	.header .social-modal-footer h1 {
	    color: #fff;
	    font-family: "OpenSansBold";
	    font-size: 42px;
	    letter-spacing: -0.04em;
	    margin-bottom: 0;
	    margin-top: 0;
	    line-height: 1.2em;
	    position: relative;
	    z-index: 9;;
	}

	@media (max-width: 1199px){
		.header .social-modal-footer h1 {
		    text-align: left;
		    padding-left: 40px;
		}
		.social-modal-footer {
		    margin-top: 5px;
		}
		.social-modal-fb {
		    margin-left: 50px;
		}
		.social-modal-in {
		    margin-left: 50px;
		}
		.social-modal-win {
		    padding: 0px 0 0;
		    width: 970px;
		}
		.social-modal-names {
		    margin-bottom: 0px;
		}
		.social-modal-widgets .col-md-12{
			margin-top: 10px;
		}
		.close {
		    top: 0px;
		}
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Header~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	.header{
		background:url(../img/header/bg.jpg) no-repeat top center;
		height: 559px;
	}
	.header-flex{
		display: flex;
		align-items: flex-start;
		z-index: 9;
		position: relative;
		margin-top: 30px;
		margin-left: 5px;
	}
	.header-flex .item p{
		color: white;
		font-size: 16px;
		margin-top: 20px;
		text-align: center;
		margin-top: 15px;
		font-family: "OpenSansLight";
	}
	.header-flex .item + .item{
		margin-left: 55px;
	}
	.shadow{
		background:url(../img/header/shadow.png) no-repeat top center;
		height: 0px;
		position:absolute;
		z-index:1;
		width:100%;
		transition:.6s linear;
	}
	.shadow.active{
		height: 559px;
	}
	.shadow + .container .header-descr-title,
	.shadow + .container .header-descr-subtitle,
	.shadow + .container h1,
	.shadow + .container .header-flex,
	.shadow + .container .header-descr-text{
		opacity: 0;
		transition:.3s linear;
	}
	.shadow + .container .logo-header{
		opacity: 0;
		transition:1s linear;
	}
	.shadow.active + .container .header-descr-title,
	.shadow.active + .container .header-descr-subtitle,
	.shadow.active + .container h1,
	.shadow.active + .container .header-flex,
	.shadow.active + .container .logo-header,
	.shadow.active + .container .header-descr-text{
		opacity: 1;
	}
	.shadow + .container .logo-header{
	    -webkit-transform: translateY(-100px);
	    transform: translateY(-100px);
		transition-delay:.6s;
	}
	.shadow.active + .container .logo-header{
	    -webkit-transform: translateY(0);
	    transform: translateY(0);
	}
	.shadow + .container .header-descr-title{
		-webkit-transform: translateX(500px);
		transform: translateX(500px);
		transition-delay:1.6s;
	}
	.shadow.active + .container .header-descr-title{
	    -webkit-transform: translateX(0);
	    transform: translateX(0);
	}
	.shadow + .container .header-descr-subtitle{
		-webkit-transform: translateX(500px);
		transform: translateX(500px);
		transition-delay:1.9s;
	}
	.shadow.active + .container .header-descr-subtitle{
	    -webkit-transform: translateX(0);
	    transform: translateX(0);
	}
	.shadow + .container .header-descr-text{
		-webkit-transform: translateX(500px);
		transform: translateX(500px);
		transition-delay:2.2s;
	}
	.shadow.active + .container .header-descr-text{
	    -webkit-transform: translateX(0);
	    transform: translateX(0);
	}
	.shadow + .container h1, .shadow + .container .header-flex{
		-webkit-transform: translateX(500px);
		transform: translateX(500px);
		transition-delay:2.5s;
	}
	.shadow.active + .container h1, .shadow.active + .container .header-flex{
	  -webkit-transform: translateX(0);
	  transform: translateX(0);
	}
	.header .container{
		position: relative;
	}
	.logo-header{
		position: absolute;
		bottom: 0;
		z-index: 9;
	}
	.header-description{
		text-align: right;
		margin-top: 57px;
		z-index: 9;
		position: relative;
	}
	.header-descr-title{
		font-family: "OpenSansBold";
		font-size: 32px;
		color: #fff;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		line-height: 1em;
	}
	.header-descr-subtitle{
		font-size: 32px;
		font-family: "OpenSansLight";
		color: #d32424;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		line-height: 1.2em;
		margin-top: 20px;
	}
	.header-descr-text{
		font-family: "OpenSansLight";
		font-size: 18px;
		color: #fff;
		line-height: 1.2em;
		margin-top: 20px;
	}
	.header h1 span{
		color: #ee4240;
	}
	.header h1{
		color: #fff;
		font-family: "OpenSansBold";
		font-size: 60px;
		letter-spacing: -0.04em;
		margin-bottom: 0;
		margin-top:47px;
		line-height: 1em;
		position: relative;
		z-index: 9;
	}

	@media (max-width: 1199px){
		.header-descr-subtitle {
		    font-size: 27px;
		}
		.header h1 {
		    margin-top: 95px;
		}
		.logo-header {
		    bottom: 0;
	    	width: 220px;
		}
		.header-flex{
			margin-top: 15px;
		}
		.header-flex .item {
			width: 110px;
		}
	}

	@media (max-width: 991px) {
		.header-descr-subtitle {
		    font-size: 22px;
		}
		.logo-header img {
			width: 225px;
		}
		.header h1 {
		    font-size: 50px;
		    margin-top: 108px;
		}
		.header-flex {
		    margin-right: 2px;
		}
	}

	@media (max-width: 767px){
		.logo-header {
		    bottom: auto;
		    top:20px;
		    right: 20px;
		    margin: 0 auto;
		    width: 120px;
		}
		.header h1 {
		    font-size: 32px;
		    text-align: center;
		    margin-top: 40px;
		}
		.header-description {
		    margin-top: 160px;
		}
		.header-descr-subtitle {
		    font-size: 16px;
		    margin-top: 20px;
		}
		.header-descr-title {
		    font-size: 26px;
		}
		.header {
		    background-position: 50% 0px;
		    height: 555px;
		    position: relative;
		}
		.header-descr-text {
		    font-size: 12px;
		    margin-top: 15px;
		}
		.shadow{
			height: 0px;
		}
		.shadow.active{
			height: 100%;
		}
		.header-flex {
			padding: 0 15px;
		    margin-left: 0;
		    justify-content: center;
		}
		.header-flex .item {
		    width: 80px;
		}
		.header-flex .item + .item {
		    margin-left: 10%;
		}	
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~common styles~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	.section {
		padding: 70px 0 40px;
	}
	.first-bg{
		position: absolute;
	    border-bottom: 50vw solid #151515;
	    border-right: 41vw solid transparent;
	    bottom: -40px; /*there must be .section padding value ^ */
	    right: 75px;
	    z-index: -1;
	}
	.social a{
		margin-left: 3px;
		cursor: pointer;
	}
	.social{
		z-index: 2;
	}
	.share{
		display: inline-block;
		font-family: OpenSansRegular;
		font-size: 14px;
		line-height: 14px;
		color: #d32424;
		position: relative;
		top: 6px;
		margin-right: 5px;
	}
	.text{
		display: flex;
	    flex-direction: column;
	    justify-content: center;
	    margin: 45px 0;  
	}
	.title{
		font-family: "RobotoBold";
		font-size: 21px;
		line-height:1.2em;
		margin-bottom: 20px;
		padding-left: 39px;
		text-transform: uppercase;
	}
	.content{
		font-size: 18px;
		color:#7a7a7a;
		font-family: "RobotoThin";
		font-weight: bold;
	}
	.paragraph{
		text-indent: 39px;
		line-height: 30px;
	}
	.paragraph span{
		text-transform: uppercase;
		font-family: "OpenSansBold";
		font-size: 18px;
		color: #404040;
	}
	.cl-effect-2 {
	    vertical-align: middle;
	    line-height: 1.3;
	    position: relative;
	}
	.title-black{
		font-family: "OpenSansBold";
		color:#d32424;
	}
	.img-plus-content {
		display: flex;
		flex-wrap: wrap;
		position: relative;
	}
	a.hvr-float-shadow {
	    margin-left: 39px;
	}
	.buttons a:first-child.hvr-float-shadow{
		margin-left: 0px;
	}
	.buttons{
		text-align: center;
	}
	.buttons a{
		display: inline-block;
	}
	#MobileVer img[alt="appStore"], 
	#MobileVer img[alt="blackBerry"], 
	#MobileVer img[alt="googlePlay"]{
		width: 120px;
	}

	@media (max-width: 1199px){
		.title{
			margin-bottom: 5px;
			padding-left: 25px;
		}
		.content {
		    font-size: 16px;
		}
		.paragraph {
		    text-indent: 15px;
		    line-height: 25px;
		}
		.paragraph span {
		    font-size: 16px;
		}
	}

	@media (max-width: 991px){
		.title{
			margin-bottom: 0;
		}
		.paragraph {
		    line-height: 30px;
		    text-indent: 25px;
		}
		a.hvr-float-shadow {
		    margin-left: 25px;
		}
		.content {
		    margin: 0;
		}
		.text{
		    margin: 0;  
		}
		.device img{
			max-height: 400px;
		}
		.paragraph span {
		    font-size: 18px;
		}
	}
	@media (max-width: 767px){
		.section {
		    padding: 50px 0;
		}
		.device {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: 35px;
		}
		.device img {
			max-height: 300px;
			display: block;
			margin: 0 auto;
		}
		.title {
		    padding-left: 0px;
		    font-size: 14px;
		    text-align: center;
		}
		.content {
		    font-size: 14px;
		    text-align: center;
		}
		.paragraph{
			text-indent: 20px;
		}
		.paragraph span {
			font-size: 12px;
		}
		a.hvr-float-shadow {
		    margin-left: 20px;
		}
		.img-plus-content {
			padding-top: 25px;
		}
		.buttons a:last-child.hvr-float-shadow{
			margin-left: 0px;
			margin-top: 15px;
		}
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~First Page~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	.firstPage .device img {
		margin: -35px;
	}
	.firstPage .rightblock {
		margin-left: auto;
	}
	.firstPage .paragraph{
		margin-bottom: 25px;
	}
	.firstRowHead {
		position: absolute;
		top: 0;
		right: 15px;
		left: 15px;
	}
	.firstPage .buttons {
	    position: relative;
	    top: 0px;
	    z-index: 2;
	}

	@media (max-width: 1199px){
		.first-bg {
			right: 40px;
		}
	}

	@media (max-width: 991px){
		.firstPage .device img {
		    margin: -25px;
	        max-height: 450px;
	        max-width: unset;
	        max-width: calc(100% + 50px);
		}
		.firstPage .buttons {
		    top: 0px;
		    margin-bottom: 40px;
		}
	}

	@media (max-width: 767px){
		.firstPage .buttons {
			margin-bottom: 30px;
		}
		.firstPage .device img {
		    margin: -20px;
		    max-height: 350px;
		}
		.firstRowHead {
			top: 0;
		}
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~second Page~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	.secondPage{
		background: #f4f4f4;
	}
	.secondPage a.hvr-float-shadow {
	    margin-left: 39px;
	}
	.secondPage .leftblock {
	    margin-right: auto;
	}
	.secondPage .buttons {
	    margin-top: 34px;
	}

	.secondPage .paragraph {
	    margin-bottom: 25px;
	}

	@media (max-width: 991px){
		.secondPage{
			height: auto;
		}
		.secondPage a.hvr-float-shadow {
		    margin-left: 25px;
		}
	}
	@media (max-width: 767px){
		.secondPage a.hvr-float-shadow {
		    margin-left: 0;
		}
		.secondPage .device img {
		    margin: 0 auto;
	    	display: block;
		}
		.secondPage .leftblock {
			padding: 0;
		}
		img[alt="appStore"],
		img[alt="blackBerry"],
		img[alt="googlePlay"] {
		    width: 120px;
		}
	}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~THIRD BLOCK~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
	.thirdPage {
		padding-bottom: 70px;
	}
	.thirdPage .paragraph {
	    margin-bottom: 25px;
	}

	.thirdPage .rightblock {
	    margin-left: auto;
	}

	@media (max-width: 991px){
	}
	@media (max-width: 767px){
		.thirdPage {
			padding-bottom: 50px;
		}
		.thirdPage .device img {
		    width: 150px;
		}
		.thirdPage .paragraph {
		    text-indent: 20px;
		    line-height: 1.2em;
		}
		.thirdPage .content {
		    font-size: 14px;
		    font-weight: bold;
		    line-height: 15px;
		}
		img[alt="appStore"],
		img[alt="blackBerry"],
		img[alt="googlePlay"] {
		    width: 120px;
		}

	}
/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~YELLOW-TRUCK-BLOCK~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/
.for-paddings{
	padding: 0;
}
.yellow-truck-block{
	height: 728px;
	overflow: hidden;
	background: #eee url(../img/yellow-truck-block/bg.jpg) no-repeat top center;
	padding-top: 30px;
}
.yellow-truck-block-title{
	font-family: "OpenSansBold";
	font-size: 50px;
	letter-spacing: 0.02em;
	line-height: 1em;
	color: #fff;
	text-transform: uppercase;
	margin-top: 52px;
}
.yellow-truck-block-title .red-number{
	color: #e8302d;
}
.yellow-truck-block-title .thin{
	font-family: "OpenSansLight";
	font-size: 43px;
}
.yellow-truck-block .cl-effect-2 {
    vertical-align: middle;
    line-height: 100px;
    position: relative;
}
.yellow-truck-block .share {
    color: #fff;
}
.yellow-truck-block a,
.yellow-truck-block a:link,
.yellow-truck-block a:visited,
.yellow-truck-block a:hover,
.yellow-truck-block a:active {
    color: #000;
}

.yellow-truck-block .cl-effect-2 a span {
    background: #fff;
}
.yellow-truck-block-item{
	font-family: "OpenSansBold";
	line-height: 1.2em;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: #000;
	background: rgba(255, 255, 255, 0.75);
	padding: 6px 6px 0 6px;
	position: relative;
	margin-bottom: 15px;
	text-transform: uppercase;
	height: 44px;
    float: right;
    width: 360px;
    right: 22px;
}
.yellow-truck-block-item-red{
	color: #fff;
	background: rgba(237,66,64,0.75);
	margin-top: 15px;
}
.yellow-truck-block-item-black{
	color: #fff;
	background: rgba(0,0,0,0.75);
}
.yellow-truck-block-item:after{
	position: absolute;
	top:0;
	right:-22px;
	content: "";
	display: block;
	border-left: 22px solid rgba(255, 255, 255, 0.75);
	border-top: 22px solid transparent;
	border-bottom: 22px solid transparent;
}
.yellow-truck-block-item-red:after{
	border-left: 22px solid rgba(237,66,64,0.75);
}
.yellow-truck-block-item-black:after{
	border-left: 22px solid rgba(0,0,0,0.75);
}
.new-iphone{
	position: relative;
	top:-170px;
	left: 65px;
}
@media (max-width: 1199px){
	.yellow-truck-block-item-red {
	    margin-top: 85px;
	}
	.new-iphone {
	    top: -100px;
    	left: 70px;
	}
	.yellow-truck-block-title {
	    margin-top: 75px;
	}
	.yellow-truck-block-item {
	    margin-right: 0px;
	}
}
@media (max-width: 991px){
	.yellow-truck-block-title {
	    margin-top: 55px;
    	font-size: 38px;
	}
	.yellow-truck-block-title .thin {
	    font-size: 32px;
	}
	.new-iphone {
	       top: -45px;
    	left: 45px;
	}
	.yellow-truck-block-item-red {
	    margin-top: 120px;
	}
	.yellow-truck-block-item {
	    margin-right: 30px;
	}
}
@media (max-width: 767px){
	.yellow-truck-block .cl-effect-2 {
	    line-height: 50px;
	}
	.yellow-truck-block-title {
	    margin-top: 80px;
    	font-size: 22px;
	}
	.yellow-truck-block-title .thin {
	    font-size: 18px;
	}
	.yellow-truck-block-item:after {
	    display: none;
	}
	.yellow-truck-block-item {
	    font-size: 12px;
	    letter-spacing: 0em;
	    padding: 6px 0px 0 6px;
	    margin: 0 auto 10px;
	    height: 39px;
	    float: none;
	    width: 300px;
	    right: 0px;
	}
	.yellow-truck-block-item-red {
	    margin-top: 20px;
	}
	.new-iphone {
	    top: 0px;
	    width: 165px;
	    margin: 0 auto;
	    display: block;
	    left: 15px;
	}
	img[alt="logo-black"]{
		width: 106px;
		    float: right;
	}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Grey Block~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.grey-block{
	background: #191919;
	height: 560px;
}

.grey-block-title{
	font-family: "OpenSansBold";
	font-size: 26px;
	letter-spacing: 0.02em;
	color: #fff;
	line-height: 1em;
	margin-top:55px;
	margin-bottom:  100px;
}

a.line-for-logotypes{
	height: 250px;
	width: 250px;
	background-position: 0 0;
	display: block;
}

a.line-for-logotypes:hover{
	background-position: 0 100%;
}

a.apple{
	background: url(../img/apple-logo.png) no-repeat top center;
}

a.android{
	background: url(../img/android-logo.png) no-repeat top center;
}

a.bb{
	background: url(../img/blackBerry-logo.png) no-repeat top center;
}

.grey-block .cl-effect-2 {
    line-height: 100px;
    margin-top: 29px;
}
@media (max-width: 991px){
	a.line-for-logotypes {
	    width: 220px;
	    background-size: cover;
	    height: 220px;
	    margin: 0 auto;
	}
}

@media (max-width: 767px){
	.grey-block-title{
		line-height: 1.2em;
		margin-top:30px;
		margin-bottom:  40px;
	}
	a.line-for-logotypes img {
		width: 80%;
	}
	.grey-block {
	    height:auto;
	}
	.grey-block .cl-effect-2 {
	    line-height: 80px;
	    margin-top: 0px;
	}
	a.line-for-logotypes {
	    width: 105px;
	    background-size: cover;
	    height: 105px;
	    margin: 0 auto;
	}
	.grey-block .col-xs-4{
		padding: 0;
	}
}

@media (max-width: 480px){
	a.line-for-logotypes img {
		width: 80%;
	}
	a.line-for-logotypes {
		line-height: 130px;
	}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Red Block~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.red-block{
	background: #ee4240;
}

.red-block-title{
	font-family: "OpenSansBold";
	letter-spacing: 0.02em;
	font-size: 64px;
	color: #fff;
	line-height: 1.2em;
	margin-top: 80px;
	margin-bottom: 40px;
}

.red-block-content{
	font-family: "OpenSansLight";
	font-size: 24px;
	letter-spacing: 0.02em;
	line-height: 1.2em;
	color: #fff;
	margin-bottom: 15px;
}

.red-block-content span{
	font-family: "OpenSansBold";
	text-transform: uppercase;
}


.red-block .red-block-mail a {
	font-family: "OpenSansLight";
	font-size: 20px;
	letter-spacing: 0.02em;
	line-height: 1.2em;
	color: #010101;
	border-bottom: 1px solid #010101;
}

.red-block-mail a:hover{
	border-bottom: none;
}

.red-block-mail{
	margin-bottom: 110px;
}

.red-block-separator{
	height: 1px;
	background: rgba(255,255,255,0.25);
}

.red-block .cl-effect-2 a span {
    background: #fff;
}

.red-block .share {
    color: #fff;
}

.copyrights{
	font-family: Helvetica;
	font-size: 14px;
	color: #fff;
	line-height: 1.2em;
	text-align: center;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 15px;
	margin: 0;
}

.red-block .cl-effect-2 {
    line-height: 70px;
    margin-top: 0px;
    float: right;
}

.red-block .box{
	position: relative;
	height: 70px;
}
.bottom-part .firstRowHead{
	position: relative;
	top: unset;
	right: unset;
}
@media (max-width: 991px){
	.red-block-title {
	    margin-top: 60px;
	    margin-bottom: 30px;
	}
	.red-block-mail {
	    margin-bottom: 50px;
	}
}

@media (max-width: 767px){
	.red-block-title {
	    margin-top: 40px;
	    margin-bottom: 20px;
	    font-size: 40px;
	}
	.red-block-mail {
	    margin-bottom: 50px;
	}
	.red-block-content {
	    font-size: 16px;
	}
	.red-block .red-block-mail a {
	    font-size: 16px;
	}
	.copyrights {
	    font-size: 12px;
	    bottom: 10px;
	}
	.red-block .cl-effect-2 {
	    float: none;
	    width: 141px;
	    margin: 0 auto;
	}
	.red-block .box {
	    height: 85px;
	}
}

/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~Hovers~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.cl-effect-2 a span{
	background: #1e1e1e;
	font-size: 1.6em;
	text-align: center;
	vertical-align: middle;
	position: relative;
}

.cl-effect-2 a.in span{
	padding: 0px 4.3px;
	font-family: "RobotoBold";
}

.cl-effect-2 a.t span{
	padding: 0px 7.77px;
	font-family: "Pico";
}

.cl-effect-2 a.f span{
	padding: 0px 8px;
	font-family: "KlavikaBold";
}

.csstransforms3d .cl-effect-2 a.f:hover span::before, 
.csstransforms3d .cl-effect-2 a.f:focus span::before{
	background: #4065b4;
}

.csstransforms3d .cl-effect-2 a.t:hover span::before, 
.csstransforms3d .cl-effect-2 a.t:focus span::before{
	background: #39b9dc;
} 

.csstransforms3d .cl-effect-2 a.in:hover span::before, 
.csstransforms3d .cl-effect-2 a.in:focus span::before {
	background: #157fb9;
}

.cl-effect-2 a{
	line-height: 21px;
}